body{
    margin: 0px;
    border:0px;
    background-color: #001B02;
    overflow: hidden;
/*    height: 120vh;*/
}

.logo{
    display: none;
    position: fixed;
    z-index: 1000;
    display: inline-block;
    top: 20px;
    left: 20px;
}

.logo img{
    display: none;
    width: 10vw;
    
}

.cardcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.card{
    background-color: dimgrey;
    width: 5%;
    height: 100%;
    border: 0px solid black;
    box-sizing: border-box;
    text-align: center;
    z-index: 6;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

@media all and (max-width: 500px) {
    .card{
        width: 10%;
    }
}

#extra{
    display: block;
    
}

@media all and (max-width: 500px) {
    #extra{
        display: none;
    }
}

.backgroundimg{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.backgroundimg img{
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.resetbutton{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 100px;
    z-index: 100000;
}