body{
    margin: 0px;
    border:0px;
    background-color: #001B02;
    overflow: hidden;
    height: 120vh;
}

.logo{
    display: none;
    position: fixed;
    z-index: 1000;
    display: inline-block;
    top: 20px;
    left: 20px;
}

.logo img{
    display: none;
    width: 10vw;
    
}

.cardcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.card{
    background-color: rgba(255,255,255,0.66);
    width: 5%;
    height: 100%;
    border: 0px solid black;
/*    border-radius: 5px 5px 5px 5px;*/
    text-align: center;
    z-index: 6;
    box-shadow: 0px 0px 50px rgba(15,15,15,0.8);
    filter:  grayscale(60%);

   
}

.card img{
    display: ;
/*    border-radius: 15px;*/
    
}

#border{
    
    width: 100%;
    height: 100%;
    z-index: 10;
}

#cardimage{
    
    width: 100%;
    height: 100%;
    z-index: 9;
}

@media all and (max-width: 500px) {
    .card{
        width: 10vw;
    }
}

#extra{
    display: block;
    
}

@media all and (max-width: 500px) {
    #extra{
        display: none;
    }
}





.backgroundimg{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.backgroundimg img{
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.resetbutton{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 100px;
    z-index: 100000;
    transform-origin: bottom;

}

